@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
.contactForm {
  @include center;
  flex-direction: column;
  background-color: #f7f7f7;
  row-gap: 37px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 93px 0 102px 0;
  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    .formContainer {
      width: 100%;
    }
  }
  .formWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 37px;
    .btnContainer {
      width: 100%;
    }
  }
}
