@use "../../partials/variables" as *;
.bannerWrapper{
    width: 50%;
    padding: 1.05rem;
    background-color: $primaryColor;
    color: #fff;
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.34;
}