@use "../../partials/variables" as *;

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 24px;
  }
}
.inputField {
  width: 698px;
  padding: 26.5px 29px;
  border: 1px solid #000;
  font-size: 17px;
  color: #808080;
  background-color: transparent;
  &:focus {
    outline-color: $primaryColor;
  }
}

.selectWrapper {
  width: 100%;
  position: relative;
}

.selectField {
  width: 698px;
  padding: 26.5px 29px;
  border: 1px solid #000;
  font-size: 17px;
  color: #808080;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus {
    outline-color: $primaryColor;
  }
  .option {
    padding: 10px;
    background: white;
    color: #333;
  }
}

.selectIcon {
  position: absolute;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  z-index: 20;
  pointer-events: none;
}
