.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 18px 0 0;
  .myCart {
    padding-left: 30px;
    position: relative;
  }
  .myCart::after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: -10px;
    width:70%;
    height: 2px;
    background-color: #000;
  }
  .cartCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 180px);
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
    gap: 40px;
  }

  .totalContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    z-index: 20;
    .totalAmount {
      font-size: 11px;
    }
    .buttonContainer {
      z-index: 3;
    }
  }
}
