.recommendationWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 87px;
  column-gap: 1.875rem;
  margin-top: 1.9375rem;
}

@media (max-width: 1024px) {
  .recommendationWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .recommendationWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
