@use "../../partials/variables" as *;
.descriptionWrapper {
  padding: 7.625rem;
  font-size: 2rem;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 6.25rem;
  .description{
    white-space: pre-line;
    margin-bottom: 5.5rem;
  }
 
}

@media (max-width:1024px){
  .descriptionWrapper{
    padding: 1.25rem;
  }
}